<ul class="nav-correct nav justify-content-center">
    <li class="av-item">
        <img class="lime img-fluid" src="../../lime.png" alt="food">
    </li>
    <li class="nav-item">
        <a class="a-c nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <img class="lime img-fluid" src="../../lime.png" alt="food">
    </li>
    <li class="nav-item">
        <a class="a-c nav-link" href="/dfy">Dish from you</a>
    </li>
    <li class="nav-item">
        <img class="lime img-fluid" src="../../lime.png" alt="food">
    </li>
    <li class="nav-item">
        <form action="/exit" method="post" id="exForm">
            <a class="a-c nav-link" href="javascript:{}" onclick="document.getElementById('exForm').submit();">Exit</a>
        </form>
    </li>
</ul>